.heading--two{
  font-size: 64px;
  line-height: 64px;
  color: $jafanda;
  text-transform: uppercase;
  font-weight: $fontBold;
  font-family: $titleFont;
  margin-top: 0;
  color: $jafanda;
}
.heading--three{
  font-family: $titleFont;
  font-size: 26px;
  line-height: 30px;
  color: $jafandaDark;
  text-transform: uppercase;
  font-weight: $fontBold;
  letter-spacing: 0.5px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.heading--four{
  text-transform: uppercase;
  color: $textDefault;
  font-weight: $fontMedium;
  font-family: $titleFont;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 15px;
}

// Media query

@media screen and (max-width: $tablet) {
  .heading--two{
    font-size: 50px;
    line-height: 54px;
  }
}

@media screen and (max-width: $mobile) {
  .heading--two{
    font-size: 42px;
  }
}
