.downloadList{
  margin: 0;
  padding: 0;
  list-style: none;
}
.downloadList__item{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;
  font-family: $titleFont;
  font-weight: $fontRegular;
  &:hover{
    text-decoration: underline;
  }
}
.downloadList--product{
  .downloadList__item{
    color: #ffffff;
  }
}

// Media query

@media screen and (max-width: $mobile) {
  .downloadList__item{
    font-size: 17px;
  }
}
