.text--bold{
  font-weight: $fontRegular;
}
.text--extraBold{
  font-weight: $fontBold;
}
.text--inverse{
  color: #ffffff;
}
.text--marginBottom{
  margin-bottom: 30px;
}
.text--noMargin{
  margin: 0;
}
.text--intro{
  font-size: 20px;
}

// Media query

@media screen and (max-width: $mobile) {
  .text--intro{
    font-size: 15px;
  }
}
