/******************************************************************
Theme Name: Bones (Rename Me!)
Theme URI: http://www.themble.com/bones
Description: This site was built using the Bones Development Theme. For more information about Bones or to view documentation, you can visit the <a href="https://github.com/eddiemachado/bones/issues" title="Bones Issues">Bones Issues</a> page on Github. You'll want to customize this for your clients with your own information.
Author: Your Name Here
Author URI: http://www.yoururlhere.com
Version: 1.7
Tags: fluid-layout, responsive-layout, accessibility-ready, translation-ready, microformats, rtl-language-support

License: WTFPL
License URI: http://sam.zoy.org/wtfpl/
Are You Serious? Yes.
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  color: #0A0A0A;
  font-size: 17px;
  line-height: 30px;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  border: 10px solid #005858; }

a {
  color: #1E5DA3;
  text-decoration: none; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

@media screen and (max-width: 1040px) {
  .container {
    padding: 0 20px;
    max-width: 720px; } }

@media screen and (max-width: 900px) {
  .container {
    max-width: 520px; }
  body {
    border: none; } }

@media screen and (max-width: 520px) {
  .container {
    padding: 0 20px;
    max-width: 400px; } }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.slider {
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: relative; }

.slide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  float: left;
  position: absolute; }

#slideposition {
  display: none; }

@media screen and (max-width: 1590px) {
  .slider {
    height: 1050px; } }

@media screen and (max-width: 1040px) {
  .slider {
    height: 900px; } }

@media screen and (max-width: 900px) {
  .slider {
    height: 1000px; } }

@media screen and (max-width: 520px) {
  .slider {
    height: 1446px; } }

@media screen and (max-width: 370px) {
  .slider {
    height: 1546px; } }

.text--bold {
  font-weight: 400; }

.text--extraBold {
  font-weight: 700; }

.text--inverse {
  color: #ffffff; }

.text--marginBottom {
  margin-bottom: 30px; }

.text--noMargin {
  margin: 0; }

.text--intro {
  font-size: 20px; }

@media screen and (max-width: 520px) {
  .text--intro {
    font-size: 15px; } }

.downloadList {
  margin: 0;
  padding: 0;
  list-style: none; }

.downloadList__item {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400; }
  .downloadList__item:hover {
    text-decoration: underline; }

.downloadList--product .downloadList__item {
  color: #ffffff; }

@media screen and (max-width: 520px) {
  .downloadList__item {
    font-size: 17px; } }

.heading--two {
  font-size: 64px;
  line-height: 64px;
  color: #005858;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  margin-top: 0;
  color: #005858; }

.heading--three {
  font-family: "Rajdhani", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #003232;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 12px;
  margin-bottom: 10px; }

.heading--four {
  text-transform: uppercase;
  color: #0A0A0A;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 15px; }

@media screen and (max-width: 900px) {
  .heading--two {
    font-size: 50px;
    line-height: 54px; } }

@media screen and (max-width: 520px) {
  .heading--two {
    font-size: 42px; } }

.input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none; }

.header {
  height: 1001px;
  width: 100%;
  background: url(library/images/header_mountains.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 375px; }

.header__greenBox {
  margin: 0 auto 100px;
  width: 485px;
  height: 160px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center; }

.header__greenBoxImage {
  margin-top: 60px;
  max-width: 70%; }

.header__largeBrand {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 68px;
  color: #005858;
  font-weight: 300; }

@media screen and (max-width: 900px) {
  .header {
    height: 461px;
    padding-top: 350px; }
  .header__greenBox {
    display: none; }
  .header__largeBrand {
    font-size: 46px;
    line-height: 48px;
    font-weight: 400; } }

@media screen and (max-width: 520px) {
  .header {
    height: 261px;
    padding-top: 185px; }
  .header__greenBox {
    display: none; }
  .header__largeBrand {
    font-size: 32px;
    line-height: 41px;
    font-weight: 400; } }

.footer {
  background: #005858;
  margin-top: 133px;
  padding-bottom: 55px; }

.footer__jafandaLogoContainer {
  height: 73px;
  text-align: center;
  padding: 23px 0;
  background: #003232;
  margin-bottom: 61px; }

.footer__titleHr {
  width: 34px;
  height: 4px;
  background: #003232; }

.footer__address {
  font-family: "Rajdhani", sans-serif;
  font-size: 29px;
  color: #ffffff;
  line-height: 45px; }

.footer__smallHeading {
  margin-bottom: 7px; }

.footer__smallHeadingSub {
  font-family: "Rajdhani", sans-serif;
  font-size: 19px;
  color: #ffffff; }

.footer__subscribe {
  font-size: 15px; }

.footer__copyright {
  font-size: 13px;
  color: #0A0A0A;
  font-weight: 500;
  clear: both;
  padding-top: 30px; }

.footer__left {
  float: left;
  max-width: 411px; }

.footer__right {
  float: right;
  max-width: 280px;
  padding-top: 40px; }

@media screen and (max-width: 1040px) {
  .footer__right {
    max-width: 350px; }
  .footer__left {
    max-width: 341px; } }

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 33px;
    padding-bottom: 30px; }
  .footer__left {
    width: 100%;
    max-width: 100%; }
  .footer__right {
    padding-top: 0;
    width: 100%;
    max-width: 100%; } }

.navMenu {
  background: rgba(0, 88, 88, 0.21);
  width: 100%;
  height: 68px;
  border-bottom: 1px solid rgba(0, 88, 88, 0.42);
  position: absolute;
  top: 0;
  left: 0;
  transition: background 0.25s ease-in-out, height 0.3s cubic-bezier(0.25, 0.25, 0.485, 1.65); }
  .navMenu.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 50, 50, 0.7);
    border-bottom: 1px solid #003232;
    z-index: 9999;
    height: 58px; }
    .navMenu.is-fixed .navMenu__menuItem.nav-active .navMenu__menuItemLink {
      color: #003232; }
    .navMenu.is-fixed .navMenu__menuItemLink {
      font-weight: 500;
      line-height: 58px; }
      .navMenu.is-fixed .navMenu__menuItemLink:hover {
        color: #003232; }

.navMenu__menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.navMenu__menuItem {
  display: inline-block; }
  .navMenu__menuItem.is-active .navMenu__menuItemLink {
    color: #005858;
    font-weight: 500; }

.navMenu__menuItemLink {
  float: left;
  display: block;
  line-height: 68px;
  font-family: "Rajdhani", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  padding: 0 16px;
  transition: color 0.2s ease-in-out; }
  .navMenu__menuItemLink:hover {
    color: #005858; }

.navMenu__mobileMenu {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  width: 71px;
  height: 58px;
  background: rgba(0, 88, 88, 0.21);
  text-align: center;
  padding-top: 12px; }
  .navMenu__mobileMenu.is-active {
    background: rgba(0, 50, 50, 0.7); }

.navMenu__logo {
  display: none;
  position: absolute;
  left: 21px;
  top: 19px;
  width: 134px; }

@media screen and (max-width: 900px) {
  .navMenu__menuList {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    top: 58px;
    background: rgba(0, 50, 50, 0.7);
    padding-top: 11px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
    .navMenu__menuList.is-active {
      display: block; }
  .navMenu__mobileMenu {
    display: block; }
  .navMenu__logo {
    display: block; }
  .navMenu {
    height: 58px; }
  .navMenu__menuItemLink {
    line-height: 28px !important; } }

@media screen and (max-width: 325px) {
  .navMenu__logo {
    width: 96px;
    top: 23px; } }

.largeList {
  padding-left: 154px;
  position: relative;
  margin: 95px 0;
  width: 444px; }

.largeList__number {
  font-size: 200px;
  line-height: 202px;
  font-weight: 700;
  color: #F6F6F6;
  position: absolute;
  top: -28px;
  left: 0; }

.largeList__titleText {
  font-size: 20px; }

.largeList__sub {
  font-size: 14px;
  font-style: italic; }

.largeList__downloads {
  border-top: 4px solid #005858;
  padding-left: 26px;
  margin-top: 25px; }

@media screen and (max-width: 1040px) {
  .largeList {
    width: 598px; } }

@media screen and (max-width: 900px) {
  .largeList {
    margin-bottom: 60px;
    margin-top: 0;
    width: 100%;
    padding-left: 114px; }
  .largeList__number {
    font-size: 120px;
    line-height: 140px;
    top: -26px; } }

@media screen and (max-width: 520px) {
  .largeList {
    padding-left: 60px;
    margin-bottom: 50px;
    margin-top: 0;
    width: 100%; }
  .largeList__titleText {
    font-size: 17px; }
  .largeList__number {
    font-size: 64px;
    line-height: 75px;
    top: -10px; }
  .largeList__downloads {
    border-top: none;
    border-left: 4px solid #005858; } }

.subscribeForm {
  padding-top: 16px; }

.ninja-forms-cont {
  padding-top: 25px; }

.ninja-forms-field[type="text"],
textarea.ninja-forms-field {
  width: 312px;
  float: left;
  font-size: 15px;
  color: #003232;
  padding: 9px 12px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none; }

select.ninja-forms-field {
  width: 312px;
  font-size: 15px;
  color: #003232; }

.ninja-forms-required-items {
  margin-bottom: 13px; }

.ninja-forms-field[type="submit"] {
  width: 75px;
  float: left;
  padding: 7px 12px;
  background: #003232;
  font-family: "Rajdhani", sans-serif;
  font-size: 19px;
  font-weight: 500;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  text-transform: uppercase; }

.languages {
  position: absolute;
  right: 7px;
  top: 0px;
  cursor: pointer; }

.languages__item {
  float: left;
  margin-right: 16px; }

.languages__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.languages__link {
  height: 58px;
  padding-top: 14px;
  float: left;
  opacity: 0.25;
  position: relative; }
  .languages__link.is-active {
    opacity: 1; }
    .languages__link.is-active:before {
      content: ' ';
      border-top: 5px solid #005858;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -5px; }

@media screen and (max-width: 900px) {
  .languages {
    right: 79px; }
  .languages__link.is-active:before {
    display: none; } }

.about {
  padding-top: 93px;
  padding-bottom: 85px; }

.about__introText {
  padding-left: 216px;
  position: relative;
  font-family: "Rajdhani", sans-serif;
  font-size: 35px;
  line-height: 49px;
  color: #005858;
  font-weight: 300;
  margin-bottom: 77px; }
  .about__introText span {
    font-weight: 500; }

.about__aIcon {
  position: absolute;
  left: 0;
  top: 77px; }

.about__hamburgImg {
  top: 84px;
  position: absolute;
  left: 0; }

.about__hamburgText {
  padding-left: 520px;
  position: relative; }

@media screen and (max-width: 1040px) {
  .about__introText {
    font-size: 29px;
    line-height: 47px; }
  .about__aIcon {
    top: 110px; }
  .about__hamburgImg {
    width: 40%;
    float: left;
    margin-right: 55px;
    margin-bottom: 40px;
    padding-top: 40px;
    position: relative;
    top: auto;
    left: auto; }
  .about__hamburgText {
    padding-left: 0;
    font-size: 16px; } }

@media screen and (max-width: 900px) {
  .about {
    padding-bottom: 100px;
    padding-top: 60px; }
  .about__introText {
    font-size: 27px;
    line-height: 42px;
    padding-left: 57px;
    margin-bottom: 55px; }
  .about__aIcon {
    width: 30px;
    height: 50px;
    top: 0; }
  .about__hamburgImg {
    margin-top: 0;
    width: 100%;
    height: auto;
    padding-top: 0;
    margin-bottom: 30px; }
  .about__hamburgText {
    float: left;
    width: 100%;
    font-size: 16px; } }

@media screen and (max-width: 520px) {
  .about__introText {
    font-size: 20px;
    line-height: 33px; }
  .about__aIcon {
    width: 23px;
    height: 28px; }
  .about__hamburgText {
    font-size: 14px; } }

.products {
  position: relative;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.product {
  background: #005858;
  position: relative;
  padding-left: 50%; }

.product__productImages {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.product__productImagesNav {
  position: absolute;
  bottom: 10px;
  left: 10px; }

.product__productImagesShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11px;
  background: rgba(216, 216, 216, 0.2);
  z-index: 1; }

.product__productImagesTop,
.product__productImagesBottom {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.product__productImagesNavItem {
  width: 84px;
  height: auto; }

.product__productImagesNavLink {
  display: block;
  border: 2px solid transparent; }
  .product__productImagesNavLink.is-active {
    border: 2px solid #219B9B; }

.productNav {
  position: absolute;
  top: 47px;
  right: 57px;
  z-index: 999; }

.productNav__tabs {
  list-style: none;
  margin: 0; }

.productNav__tabsItem {
  display: block;
  padding: 12px 40px;
  font-size: 14px;
  background: #003232;
  border-radius: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.9px;
  float: left;
  margin-left: 21px;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer; }
  .productNav__tabsItem.is-active {
    background: #ffffff;
    color: #005858; }

.productDescription {
  padding: 168px 68px 155px 91px;
  position: relative;
  min-height: 850px; }

.product__titleLine {
  width: 34px;
  height: 4px;
  background: #003232;
  margin-bottom: 5px; }

.product__productTitle {
  font-family: "Rajdhani", sans-serif;
  font-size: 34px;
  line-height: 49px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300; }

.product__productDescriptionText {
  line-height: 26px; }

.product__productDownload {
  position: absolute;
  bottom: 52px;
  left: 91px; }

@media screen and (max-width: 1590px) {
  .productDescription {
    min-height: 1016px; } }

@media screen and (max-width: 1040px) {
  .productNav {
    top: 0px;
    right: 0;
    width: 50%;
    background: #005858; }
  .productNav__tabs {
    width: 100%;
    margin: 0;
    padding: 0; }
  .productNav__tabsItem {
    width: 33.333333333333333%;
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0; }
    .productNav__tabsItem.is-active {
      background: #005858;
      color: #ffffff; }
  .productDescription {
    padding: 95px 40px;
    padding-bottom: 50px;
    min-height: 906px; }
  .product__productDownload {
    left: 40px; } }

@media screen and (min-width: 521px) and (max-width: 900px) {
  .product__productImagesTop,
  .product__productImagesBottom {
    height: 250px;
    width: 50%;
    float: left; }
  .product__productDescription {
    max-width: 517px; } }

@media screen and (max-width: 900px) {
  .product {
    padding-left: 0; }
  .product__productImages {
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    left: auto; }
  .productDescription {
    padding: 65px 40px;
    min-height: 400px; }
  .product__productDownload {
    left: 65px; }
  .product__productDownload {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto; }
  .product__productImagesShadow {
    display: none; }
  .productNav {
    top: -54px;
    right: auto;
    left: 0;
    width: 100%;
    background: #005858; }
  .productNav__tabs {
    width: 100%;
    margin: 0;
    padding: 0; }
  .productNav__tabsItem {
    width: 33.333333333333333%;
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0; }
    .productNav__tabsItem.is-active {
      background: #005858;
      color: #ffffff; } }

@media screen and (max-width: 520px) {
  .productDescription {
    padding: 65px 20px;
    min-height: 400px; }
  .product__productImagesTop,
  .product__productImagesBottom {
    height: 250px; } }

.services__titleWithBg {
  width: 439px;
  height: 572px;
  background: url(library/images/services_diagram.png) no-repeat;
  float: right;
  padding-top: 188px;
  padding-left: 51px;
  font-size: 64px;
  color: #005858;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif; }

@media screen and (max-width: 1040px) {
  .services__titleWithBg {
    background: none;
    width: auto;
    height: auto;
    float: none;
    padding-top: 96px;
    padding-left: 0; } }

@media screen and (max-width: 900px) {
  .services__titleWithBg {
    padding-top: 46px; } }

.faq__header {
  position: relative;
  padding-top: 29px;
  margin-bottom: 101px;
  height: 61px; }

.faq__headerTitle {
  padding-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff; }

.faq__headerHr {
  height: 2px;
  background: #D9D9D9;
  width: 100%; }

.faq__askQuestion {
  padding: 10px 32px;
  border: 2px solid #D9D9D9;
  color: #003232;
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  background: #fff;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.9px;
  transition: background 0.15s ease-in-out; }

.faq__item {
  margin-bottom: 74px;
  padding-left: 51px;
  position: relative;
  width: 458px;
  float: left; }

.faq__row .faq__item:first-child {
  float: left; }

.faq__row .faq__item:last-child {
  float: right; }

.faq__number {
  position: absolute;
  top: 0;
  left: 0;
  color: #BBBBBB;
  font-weight: 700;
  font-size: 53px;
  line-height: 55px; }
  .faq__number:before {
    position: absolute;
    left: 0;
    top: -13px;
    background: url(library/images/svg/logo-top.svg) no-repeat;
    width: 34px;
    height: 6px;
    content: ' '; }

.faq__question {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 22px; }

.faq__answer {
  font-weight: 500;
  font-size: 15px; }

@media screen and (max-width: 1040px) {
  .faq__item {
    width: 300px; } }

@media screen and (max-width: 900px) {
  .faq__header {
    margin-bottom: 75px; }
  .faq__item {
    margin-bottom: 54px;
    padding-left: 62px;
    position: relative;
    width: 100%;
    float: left; } }

@media screen and (max-width: 520px) {
  .faq {
    padding-top: 10px; }
  .faq__item {
    margin-bottom: 54px;
    padding-left: 62px;
    position: relative;
    width: 100%;
    float: left; }
  .faq__number {
    font-size: 41px;
    top: 10px; }
    .faq__number:before {
      top: -17px; }
  .faq__answer {
    font-size: 14px; }
  .faq__askQuestion {
    font-size: 11px;
    padding: 4px 25px;
    top: 7px; }
  .faq__header {
    margin-bottom: 55px; } }

/******************************************************************
Theme Name: Bones (Rename Me!)
Theme URI: http://www.themble.com/bones
Description: This site was built using the Bones Development Theme. For more information about Bones or to view documentation, you can visit the <a href="https://github.com/eddiemachado/bones/issues" title="Bones Issues">Bones Issues</a> page on Github. You'll want to customize this for your clients with your own information.
Author: Your Name Here
Author URI: http://www.yoururlhere.com
Version: 1.7
Tags: fluid-layout, responsive-layout, accessibility-ready, translation-ready, microformats, rtl-language-support

License: WTFPL
License URI: http://sam.zoy.org/wtfpl/
Are You Serious? Yes.
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  color: #0A0A0A;
  font-size: 17px;
  line-height: 30px;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  border: 10px solid #005858; }

a {
  color: #1E5DA3;
  text-decoration: none; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

@media screen and (max-width: 1040px) {
  .container {
    padding: 0 20px;
    max-width: 720px; } }

@media screen and (max-width: 900px) {
  .container {
    max-width: 520px; }
  body {
    border: none; } }

@media screen and (max-width: 520px) {
  .container {
    padding: 0 20px;
    max-width: 400px; } }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.slider {
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: relative; }

.slide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  float: left;
  position: absolute; }

#slideposition {
  display: none; }

@media screen and (max-width: 1590px) {
  .slider {
    height: 1050px; } }

@media screen and (max-width: 1040px) {
  .slider {
    height: 900px; } }

@media screen and (max-width: 900px) {
  .slider {
    height: 1000px; } }

@media screen and (max-width: 520px) {
  .slider {
    height: 1446px; } }

@media screen and (max-width: 370px) {
  .slider {
    height: 1546px; } }

.text--bold {
  font-weight: 400; }

.text--extraBold {
  font-weight: 700; }

.text--inverse {
  color: #ffffff; }

.text--marginBottom {
  margin-bottom: 30px; }

.text--noMargin {
  margin: 0; }

.text--intro {
  font-size: 20px; }

@media screen and (max-width: 520px) {
  .text--intro {
    font-size: 15px; } }

.downloadList {
  margin: 0;
  padding: 0;
  list-style: none; }

.downloadList__item {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400; }
  .downloadList__item:hover {
    text-decoration: underline; }

.downloadList--product .downloadList__item {
  color: #ffffff; }

@media screen and (max-width: 520px) {
  .downloadList__item {
    font-size: 17px; } }

.heading--two {
  font-size: 64px;
  line-height: 64px;
  color: #005858;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  margin-top: 0;
  color: #005858; }

.heading--three {
  font-family: "Rajdhani", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #003232;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 12px;
  margin-bottom: 10px; }

.heading--four {
  text-transform: uppercase;
  color: #0A0A0A;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 15px; }

@media screen and (max-width: 900px) {
  .heading--two {
    font-size: 50px;
    line-height: 54px; } }

@media screen and (max-width: 520px) {
  .heading--two {
    font-size: 42px; } }

.input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none; }

.header {
  height: 1001px;
  width: 100%;
  background: url(library/images/header_mountains.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 375px; }

.header__greenBox {
  margin: 0 auto 100px;
  width: 485px;
  height: 160px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center; }

.header__greenBoxImage {
  margin-top: 60px;
  max-width: 70%; }

.header__largeBrand {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 68px;
  color: #005858;
  font-weight: 300; }

@media screen and (max-width: 900px) {
  .header {
    height: 461px;
    padding-top: 350px; }
  .header__greenBox {
    display: none; }
  .header__largeBrand {
    font-size: 46px;
    line-height: 48px;
    font-weight: 400; } }

@media screen and (max-width: 520px) {
  .header {
    height: 261px;
    padding-top: 185px; }
  .header__greenBox {
    display: none; }
  .header__largeBrand {
    font-size: 32px;
    line-height: 41px;
    font-weight: 400; } }

.footer {
  background: #005858;
  margin-top: 133px;
  padding-bottom: 55px; }

.footer__jafandaLogoContainer {
  height: 73px;
  text-align: center;
  padding: 23px 0;
  background: #003232;
  margin-bottom: 61px; }

.footer__titleHr {
  width: 34px;
  height: 4px;
  background: #003232; }

.footer__address {
  font-family: "Rajdhani", sans-serif;
  font-size: 29px;
  color: #ffffff;
  line-height: 45px; }

.footer__smallHeading {
  margin-bottom: 7px; }

.footer__smallHeadingSub {
  font-family: "Rajdhani", sans-serif;
  font-size: 19px;
  color: #ffffff; }

.footer__subscribe {
  font-size: 15px; }

.footer__copyright {
  font-size: 13px;
  color: #0A0A0A;
  font-weight: 500;
  clear: both;
  padding-top: 30px; }

.footer__left {
  float: left;
  max-width: 411px; }

.footer__right {
  float: right;
  max-width: 280px;
  padding-top: 40px; }

@media screen and (max-width: 1040px) {
  .footer__right {
    max-width: 350px; }
  .footer__left {
    max-width: 341px; } }

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 33px;
    padding-bottom: 30px; }
  .footer__left {
    width: 100%;
    max-width: 100%; }
  .footer__right {
    padding-top: 0;
    width: 100%;
    max-width: 100%; } }

.navMenu {
  background: rgba(0, 88, 88, 0.21);
  width: 100%;
  height: 68px;
  border-bottom: 1px solid rgba(0, 88, 88, 0.42);
  position: absolute;
  top: 0;
  left: 0;
  transition: background 0.25s ease-in-out, height 0.3s cubic-bezier(0.25, 0.25, 0.485, 1.65); }
  .navMenu.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 50, 50, 0.7);
    border-bottom: 1px solid #003232;
    z-index: 9999;
    height: 58px; }
    .navMenu.is-fixed .navMenu__menuItem.nav-active .navMenu__menuItemLink {
      color: #003232; }
    .navMenu.is-fixed .navMenu__menuItemLink {
      font-weight: 500;
      line-height: 58px; }
      .navMenu.is-fixed .navMenu__menuItemLink:hover {
        color: #003232; }

.navMenu__menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.navMenu__menuItem {
  display: inline-block; }
  .navMenu__menuItem.is-active .navMenu__menuItemLink {
    color: #005858;
    font-weight: 500; }

.navMenu__menuItemLink {
  float: left;
  display: block;
  line-height: 68px;
  font-family: "Rajdhani", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  padding: 0 16px;
  transition: color 0.2s ease-in-out; }
  .navMenu__menuItemLink:hover {
    color: #005858; }

.navMenu__mobileMenu {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  width: 71px;
  height: 58px;
  background: rgba(0, 88, 88, 0.21);
  text-align: center;
  padding-top: 12px; }
  .navMenu__mobileMenu.is-active {
    background: rgba(0, 50, 50, 0.7); }

.navMenu__logo {
  display: none;
  position: absolute;
  left: 21px;
  top: 19px;
  width: 134px; }

@media screen and (max-width: 900px) {
  .navMenu__menuList {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    top: 58px;
    background: rgba(0, 50, 50, 0.7);
    padding-top: 11px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
    .navMenu__menuList.is-active {
      display: block; }
  .navMenu__mobileMenu {
    display: block; }
  .navMenu__logo {
    display: block; }
  .navMenu {
    height: 58px; }
  .navMenu__menuItemLink {
    line-height: 28px !important; } }

@media screen and (max-width: 325px) {
  .navMenu__logo {
    width: 96px;
    top: 23px; } }

.largeList {
  padding-left: 154px;
  position: relative;
  margin: 95px 0;
  width: 444px; }

.largeList__number {
  font-size: 200px;
  line-height: 202px;
  font-weight: 700;
  color: #F6F6F6;
  position: absolute;
  top: -28px;
  left: 0; }

.largeList__titleText {
  font-size: 20px; }

.largeList__sub {
  font-size: 14px;
  font-style: italic; }

.largeList__downloads {
  border-top: 4px solid #005858;
  padding-left: 26px;
  margin-top: 25px; }

@media screen and (max-width: 1040px) {
  .largeList {
    width: 598px; } }

@media screen and (max-width: 900px) {
  .largeList {
    margin-bottom: 60px;
    margin-top: 0;
    width: 100%;
    padding-left: 114px; }
  .largeList__number {
    font-size: 120px;
    line-height: 140px;
    top: -26px; } }

@media screen and (max-width: 520px) {
  .largeList {
    padding-left: 60px;
    margin-bottom: 50px;
    margin-top: 0;
    width: 100%; }
  .largeList__titleText {
    font-size: 17px; }
  .largeList__number {
    font-size: 64px;
    line-height: 75px;
    top: -10px; }
  .largeList__downloads {
    border-top: none;
    border-left: 4px solid #005858; } }

.subscribeForm {
  padding-top: 16px; }

.ninja-forms-cont {
  padding-top: 25px; }

.ninja-forms-field[type="text"],
textarea.ninja-forms-field {
  width: 312px;
  float: left;
  font-size: 15px;
  color: #003232;
  padding: 9px 12px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none; }

select.ninja-forms-field {
  width: 312px;
  font-size: 15px;
  color: #003232; }

.ninja-forms-required-items {
  margin-bottom: 13px; }

.ninja-forms-field[type="submit"] {
  width: 75px;
  float: left;
  padding: 7px 12px;
  background: #003232;
  font-family: "Rajdhani", sans-serif;
  font-size: 19px;
  font-weight: 500;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  text-transform: uppercase; }

.languages {
  position: absolute;
  right: 7px;
  top: 0px;
  cursor: pointer; }

.languages__item {
  float: left;
  margin-right: 16px; }

.languages__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.languages__link {
  height: 58px;
  padding-top: 14px;
  float: left;
  opacity: 0.25;
  position: relative; }
  .languages__link.is-active {
    opacity: 1; }
    .languages__link.is-active:before {
      content: ' ';
      border-top: 5px solid #005858;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -5px; }

@media screen and (max-width: 900px) {
  .languages {
    right: 79px; }
  .languages__link.is-active:before {
    display: none; } }

.about {
  padding-top: 93px;
  padding-bottom: 85px; }

.about__introText {
  padding-left: 216px;
  position: relative;
  font-family: "Rajdhani", sans-serif;
  font-size: 35px;
  line-height: 49px;
  color: #005858;
  font-weight: 300;
  margin-bottom: 77px; }
  .about__introText span {
    font-weight: 500; }

.about__aIcon {
  position: absolute;
  left: 0;
  top: 77px; }

.about__hamburgImg {
  top: 84px;
  position: absolute;
  left: 0; }

.about__hamburgText {
  padding-left: 520px;
  position: relative; }

@media screen and (max-width: 1040px) {
  .about__introText {
    font-size: 29px;
    line-height: 47px; }
  .about__aIcon {
    top: 110px; }
  .about__hamburgImg {
    width: 40%;
    float: left;
    margin-right: 55px;
    margin-bottom: 40px;
    padding-top: 40px;
    position: relative;
    top: auto;
    left: auto; }
  .about__hamburgText {
    padding-left: 0;
    font-size: 16px; } }

@media screen and (max-width: 900px) {
  .about {
    padding-bottom: 100px;
    padding-top: 60px; }
  .about__introText {
    font-size: 27px;
    line-height: 42px;
    padding-left: 57px;
    margin-bottom: 55px; }
  .about__aIcon {
    width: 30px;
    height: 50px;
    top: 0; }
  .about__hamburgImg {
    margin-top: 0;
    width: 100%;
    height: auto;
    padding-top: 0;
    margin-bottom: 30px; }
  .about__hamburgText {
    float: left;
    width: 100%;
    font-size: 16px; } }

@media screen and (max-width: 520px) {
  .about__introText {
    font-size: 20px;
    line-height: 33px; }
  .about__aIcon {
    width: 23px;
    height: 28px; }
  .about__hamburgText {
    font-size: 14px; } }

.products {
  position: relative;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.product {
  background: #005858;
  position: relative;
  padding-left: 50%; }

.product__productImages {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.product__productImagesNav {
  position: absolute;
  bottom: 10px;
  left: 10px; }

.product__productImagesShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11px;
  background: rgba(216, 216, 216, 0.2);
  z-index: 1; }

.product__productImagesTop,
.product__productImagesBottom {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.product__productImagesNavItem {
  width: 84px;
  height: auto; }

.product__productImagesNavLink {
  display: block;
  border: 2px solid transparent; }
  .product__productImagesNavLink.is-active {
    border: 2px solid #219B9B; }

.productNav {
  position: absolute;
  top: 47px;
  right: 57px;
  z-index: 999; }

.productNav__tabs {
  list-style: none;
  margin: 0; }

.productNav__tabsItem {
  display: block;
  padding: 12px 40px;
  font-size: 14px;
  background: #003232;
  border-radius: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.9px;
  float: left;
  margin-left: 21px;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer; }
  .productNav__tabsItem.is-active {
    background: #ffffff;
    color: #005858; }

.productDescription {
  padding: 168px 68px 155px 91px;
  position: relative;
  min-height: 850px; }

.product__titleLine {
  width: 34px;
  height: 4px;
  background: #003232;
  margin-bottom: 5px; }

.product__productTitle {
  font-family: "Rajdhani", sans-serif;
  font-size: 34px;
  line-height: 49px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300; }

.product__productDescriptionText {
  line-height: 26px; }

.product__productDownload {
  position: absolute;
  bottom: 52px;
  left: 91px; }

@media screen and (max-width: 1590px) {
  .productDescription {
    min-height: 1016px; } }

@media screen and (max-width: 1040px) {
  .productNav {
    top: 0px;
    right: 0;
    width: 50%;
    background: #005858; }
  .productNav__tabs {
    width: 100%;
    margin: 0;
    padding: 0; }
  .productNav__tabsItem {
    width: 33.333333333333333%;
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0; }
    .productNav__tabsItem.is-active {
      background: #005858;
      color: #ffffff; }
  .productDescription {
    padding: 95px 40px;
    padding-bottom: 50px;
    min-height: 906px; }
  .product__productDownload {
    left: 40px; } }

@media screen and (min-width: 521px) and (max-width: 900px) {
  .product__productImagesTop,
  .product__productImagesBottom {
    height: 250px;
    width: 50%;
    float: left; }
  .product__productDescription {
    max-width: 517px; } }

@media screen and (max-width: 900px) {
  .product {
    padding-left: 0; }
  .product__productImages {
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    left: auto; }
  .productDescription {
    padding: 65px 40px;
    min-height: 400px; }
  .product__productDownload {
    left: 65px; }
  .product__productDownload {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto; }
  .product__productImagesShadow {
    display: none; }
  .productNav {
    top: -54px;
    right: auto;
    left: 0;
    width: 100%;
    background: #005858; }
  .productNav__tabs {
    width: 100%;
    margin: 0;
    padding: 0; }
  .productNav__tabsItem {
    width: 33.333333333333333%;
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0; }
    .productNav__tabsItem.is-active {
      background: #005858;
      color: #ffffff; } }

@media screen and (max-width: 520px) {
  .productDescription {
    padding: 65px 20px;
    min-height: 400px; }
  .product__productImagesTop,
  .product__productImagesBottom {
    height: 250px; } }

.services__titleWithBg {
  width: 439px;
  height: 572px;
  background: url(library/images/services_diagram.png) no-repeat;
  float: right;
  padding-top: 188px;
  padding-left: 51px;
  font-size: 64px;
  color: #005858;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif; }

@media screen and (max-width: 1040px) {
  .services__titleWithBg {
    background: none;
    width: auto;
    height: auto;
    float: none;
    padding-top: 96px;
    padding-left: 0; } }

@media screen and (max-width: 900px) {
  .services__titleWithBg {
    padding-top: 46px; } }

.faq__header {
  position: relative;
  padding-top: 29px;
  margin-bottom: 101px;
  height: 61px; }

.faq__headerTitle {
  padding-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff; }

.faq__headerHr {
  height: 2px;
  background: #D9D9D9;
  width: 100%; }

.faq__askQuestion {
  padding: 10px 32px;
  border: 2px solid #D9D9D9;
  color: #003232;
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  background: #fff;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.9px;
  transition: background 0.15s ease-in-out; }

.faq__item {
  margin-bottom: 74px;
  padding-left: 51px;
  position: relative;
  width: 458px;
  float: left; }

.faq__row .faq__item:first-child {
  float: left; }

.faq__row .faq__item:last-child {
  float: right; }

.faq__number {
  position: absolute;
  top: 0;
  left: 0;
  color: #BBBBBB;
  font-weight: 700;
  font-size: 53px;
  line-height: 55px; }
  .faq__number:before {
    position: absolute;
    left: 0;
    top: -13px;
    background: url(library/images/svg/logo-top.svg) no-repeat;
    width: 34px;
    height: 6px;
    content: ' '; }

.faq__question {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 22px; }

.faq__answer {
  font-weight: 500;
  font-size: 15px; }

@media screen and (max-width: 1040px) {
  .faq__item {
    width: 300px; } }

@media screen and (max-width: 900px) {
  .faq__header {
    margin-bottom: 75px; }
  .faq__item {
    margin-bottom: 54px;
    padding-left: 62px;
    position: relative;
    width: 100%;
    float: left; } }

@media screen and (max-width: 520px) {
  .faq {
    padding-top: 10px; }
  .faq__item {
    margin-bottom: 54px;
    padding-left: 62px;
    position: relative;
    width: 100%;
    float: left; }
  .faq__number {
    font-size: 41px;
    top: 10px; }
    .faq__number:before {
      top: -17px; }
  .faq__answer {
    font-size: 14px; }
  .faq__askQuestion {
    font-size: 11px;
    padding: 4px 25px;
    top: 7px; }
  .faq__header {
    margin-bottom: 55px; } }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
