.footer{
  background: $jafanda;
  margin-top: 133px;
  padding-bottom: 55px;
}
.footer__jafandaLogoContainer{
  height: 73px;
  text-align: center;
  padding: 23px 0;
  background: $jafandaDark;
  margin-bottom: 61px;
}
.footer__titleHr{
  width: 34px;
  height: 4px;
  background: $jafandaDark;
}
.footer__address{
  font-family: $titleFont;
  font-size: 29px;
  color: #ffffff;
  line-height: 45px;
}
.footer__smallHeading{
  margin-bottom: 7px;
}
.footer__smallHeadingSub{
  font-family: $titleFont;
  font-size: 19px;
  color: #ffffff;
}
.footer__subscribe{
  font-size: 15px;
}
.footer__copyright{
  font-size: 13px;
  color: $textDefault;
  font-weight: $fontMedium;
  clear: both;
  padding-top: 30px;
}
.footer__left{
  float: left;
  max-width: 411px;
}
.footer__right{
  float: right;
  max-width: 280px;
  padding-top: 40px;
}

// Media query

@media screen and (max-width: $desktop) {
  .footer__right{
    max-width: 350px;
  }
  .footer__left {
    max-width: 341px;
  }
}

@media screen and (max-width: $tablet) {
  .footer{
    margin-top: 33px;
    padding-bottom: 30px;
  }
  .footer__left{
    width: 100%;
    max-width: 100%;
  }
  .footer__right{
    padding-top: 0;
    width: 100%;
    max-width: 100%;
  }
}
