.header{
  height: 1001px;
  width: 100%;
  background: url(library/images/header_mountains.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 375px;
}
.header__greenBox{
  margin: 0 auto 100px;
  width: 485px;
  height: 160px;
  background: rgba(255,255,255,0.6);
  text-align: center;
}
.header__greenBoxImage{
  margin-top: 60px;
  max-width: 70%;
}
.header__largeBrand{
  text-align: center;
  font-family: $titleFont;
  font-size: 68px;
  color: $jafanda;
  font-weight: $fontLight;
}

// Media query

@media screen and (max-width: $tablet) {
  .header{
    height: 461px;
    padding-top: 350px;
  }
  .header__greenBox{
    display: none;
  }
  .header__largeBrand{
    font-size: 46px;
    line-height: 48px;
    font-weight: $fontRegular;
  }
}

// Media query

@media screen and (max-width: $mobile) {
  .header{
    height: 261px;
    padding-top: 185px;
  }
  .header__greenBox{
    display: none;
  }
  .header__largeBrand{
    font-size: 32px;
    line-height: 41px;
    font-weight: $fontRegular;
  }
}
