// Hidden for desktop
.languages{
  position: absolute;
  right: 7px;
  top: 0px;
  cursor: pointer;
}
.languages__item{
  float: left;
  margin-right: 16px;
}
.languages__list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.languages__link{
  height: 58px;
  padding-top: 14px;
  float: left;
  opacity: 0.25;
  position: relative;
  &.is-active{
    opacity: 1;
    &:before{
      content: ' ';
      border-top: 5px solid $jafanda;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -5px;
    }
  }
}

@media screen and (max-width: $tablet) {
  // Show for mobile
  .languages{
    right: 79px;
  }
  .languages__link.is-active{
    &:before{
      display: none;
    }
  }
}
