.largeList{
  padding-left: 154px;
  position: relative;
  margin: 95px 0;
  width: 444px;
}
.largeList__number{
  font-size: 200px;
  line-height: 202px;
  font-weight: $fontBold;
  color: #F6F6F6;
  position: absolute;
  top: -28px;
  left: 0;
}
.largeList__titleText{
  font-size: 20px;
}
.largeList__sub{
  font-size: 14px;
  font-style: italic;
}
.largeList__downloads{
  border-top: 4px solid $jafanda;
  padding-left: 26px;
  margin-top: 25px;
}

// Media query
@media screen and (max-width: $desktop) {
  .largeList{
    width: 598px;
  }
}
@media screen and (max-width: $tablet) {
  .largeList{
    margin-bottom: 60px;
    margin-top: 0;
    width: 100%;
    padding-left: 114px;
  }
  .largeList__number{
    font-size: 120px;
    line-height: 140px;
    top: -26px;
  }
}

@media screen and (max-width: $mobile) {
  .largeList{
    padding-left: 60px;
    margin-bottom: 50px;
    margin-top: 0;
    width: 100%;
  }
  .largeList__titleText{
    font-size: 17px;
  }
  .largeList__number{
    font-size: 64px;
    line-height: 75px;
    top: -10px;
  }
  .largeList__downloads{
    border-top: none;
    border-left: 4px solid $jafanda;
  }
}
