.navMenu{
  background: rgba(0,88,88,.21);
  width: 100%;
  height: 68px;
  border-bottom: 1px solid  rgba(0,88,88,.42);
  position: absolute;
  top: 0;
  left: 0;
  transition: background 0.25s ease-in-out, height 0.3s cubic-bezier(0.250, 0.250, 0.485, 1.650);
  &.is-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,50,50,.70);
    border-bottom: 1px solid rgb(0,50,50);
    z-index: 9999;
    height: 58px;
    .navMenu__menuItem.nav-active{
      .navMenu__menuItemLink{
        color: $jafandaDark;
      }
    }
    .navMenu__menuItemLink{
      font-weight: $fontMedium;
      line-height: 58px;
      &:hover{
        color: $jafandaDark;
      }
    }
  }
}
.navMenu__menuList{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.navMenu__menuItem{
  display: inline-block;
  &.is-active{
    .navMenu__menuItemLink{
      color: $jafanda;
      font-weight: $fontMedium;
    }
  }
}
.navMenu__menuItemLink{
  float: left;
  display: block;
  line-height: 68px;
  font-family: $titleFont;
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: $fontLight;
  padding: 0 16px;
  transition: color 0.2s ease-in-out;
  &:hover{
    color: $jafanda;
  }
}

// Hidden for desktop
.navMenu__mobileMenu{
  display: none;
  position: absolute;
  right: 0px;
  top:0px;
  cursor: pointer;
  width: 71px;
  height: 58px;
  background: rgba(0,88,88,0.21);
  text-align: center;
  padding-top: 12px;
  &.is-active{
    background: rgba(0, 50, 50, 0.7);
  }
}
.navMenu__logo{
  display: none;
  position: absolute;
  left: 21px;
  top: 19px;
  width: 134px;
}

@media screen and (max-width: $tablet) {
  .navMenu__menuList{
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    top: 58px;
    background: rgba(0, 50, 50, 0.7);
    padding-top: 11px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    &.is-active{
      display: block;
    }
  }
  // Show for mobile
  .navMenu__mobileMenu{
    display: block;
  }
  .navMenu__logo{
    display: block;
  }
  .navMenu{
    height: 58px;
  }
  .navMenu__menuItemLink {
    line-height: 28px !important;
  }
}
@media screen and (max-width: $mobile - 195) {
  .navMenu__logo{
    width: 96px;
    top: 23px;
  }
}
