.subscribeForm{
  padding-top: 16px;
}
.ninja-forms-cont{
  padding-top: 25px;
}
.ninja-forms-field[type="text"],
textarea.ninja-forms-field{
  width: 312px;
  float: left;
  font-size: 15px;
  color: $jafandaDark;
  padding: 9px 12px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
}
select.ninja-forms-field{
  width: 312px;
  font-size: 15px;
  color: $jafandaDark;
}
.ninja-forms-required-items{
  margin-bottom: 13px;
}
.ninja-forms-field[type="submit"]{
  width: 75px;
  float: left;
  padding: 7px 12px;
  background: $jafandaDark;
  font-family: $titleFont;
  font-size: 19px;
  font-weight: $fontMedium;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  text-transform: uppercase;
}
