html {
  color: $textDefault;
  font-size: $text;
  line-height: $lhDefault;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: $openSans;
  font-size: 17px;
  line-height: 30px;
  font-weight: $fontLight;
  border: 10px solid $jafanda;
}

a{
  color: $linkColor;
  text-decoration: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

// Media query
@media screen and (max-width: $desktop) {
  .container {
    padding: 0 20px;
    max-width: 720px;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    max-width: 520px;
  }
  body{
    border: none;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    padding: 0 20px;
    max-width: 400px;
  }
}
