.slider{
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: relative;
}
.slide{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  float: left;
  position: absolute;
}
#slideposition{
  display: none;
}

@media screen and (max-width: $desktop + 550) {
  .slider{
    height: 1050px;
  }
}

@media screen and (max-width: $desktop) {
  .slider{
    height: 900px;
  }
}
@media screen and (max-width: $tablet) {
  .slider{
    height: 1000px;
  }
}
@media screen and (max-width: $mobile) {
  .slider{
      height: 1446px;
  }
}
@media screen and (max-width: $mobile - 150) {
  .slider{
      height: 1546px;
  }
}
