// colors
$jafanda: #005858;
$jafandaDark: #003232;
$linkColor: #1E5DA3;
$lightGrey: #F6F6F6;
$mediumGrey: #BBBBBB;
$textDefault: #0A0A0A;
$everyBreath: #1E5DA3;

// fonts
$titleFont: 'Rajdhani', sans-serif;
$openSans: 'Open Sans', sans-serif;

// font weights
$fontBold: 700;
$fontMedium: 500;
$fontRegular: 400;
$fontLight: 300;

// Font sizes
$headingOne: 35px;
$headingTwo: 20px;
$headingThree: 19px;
$text: 17px;

// Line Height
$lhDefault: 30px;

// Media Queries

$mobile: 520px;
$tablet: 900px;
$desktop: 1040px;
