.about{
  padding-top: 93px;
  padding-bottom: 85px;
}
.about__introText{
  padding-left: 216px;
  position: relative;
  font-family: $titleFont;
  font-size: $headingOne;
  line-height: 49px;
  color: $jafanda;
  font-weight: $fontLight;
  margin-bottom: 77px;
  span{
    font-weight: $fontMedium;
  }
}
.about__aIcon{
  position: absolute;
  left: 0;
  top: 77px;
}
.about__hamburgImg{
  top: 84px;
  position: absolute;
  left: 0;
}
.about__hamburgText{
  padding-left: 520px;
  position: relative;
}

// Media query

@media screen and (max-width: $desktop) {
  .about__introText{
    font-size: 29px;
    line-height: 47px;
  }
  .about__aIcon{
    top: 110px;
  }
  .about__hamburgImg{
    width: 40%;
    float: left;
    margin-right: 55px;
    margin-bottom: 40px;
    padding-top: 40px;
    position: relative;
    top: auto;
    left: auto;
  }
  .about__hamburgText{
    padding-left: 0;
    font-size: 16px;
  }
}

@media screen and (max-width: $tablet) {
  .about{
    padding-bottom: 100px;
    padding-top: 60px;
  }
  .about__introText{
    font-size: 27px;
    line-height: 42px;
    padding-left: 57px;
    margin-bottom: 55px;
  }
  .about__aIcon{
    width: 30px;
    height: 50px;
    top: 0;
  }
  .about__hamburgImg{
    margin-top: 0;
    width: 100%;
    height: auto;
    padding-top: 0;
    margin-bottom: 30px;
  }
  .about__hamburgText{
    float: left;
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: $mobile) {
  .about__introText{
    font-size: 20px;
    line-height: 33px;
  }
  .about__aIcon{
    width: 23px;
    height: 28px;
  }
  .about__hamburgText{
    font-size: 14px;
  }
}
