.faq__header{
  position: relative;
  padding-top: 29px;
  margin-bottom: 101px;
  height: 61px;
}
.faq__headerTitle{
  padding-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
.faq__headerHr{
  height: 2px;
  background: #D9D9D9;
  width: 100%;
}
.faq__askQuestion{
  padding: 10px 32px;
  border: 2px solid #D9D9D9;
  color: $jafandaDark;
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  background: #fff;
  border-radius: 40px;
  font-size: 14px;
  font-weight: $fontMedium;
  letter-spacing: 0.9px;
  transition: background 0.15s ease-in-out;
}
.faq__item{
  margin-bottom: 74px;
  padding-left: 51px;
  position: relative;
  width: 458px;
  float: left;
}
.faq__row{
  .faq__item:first-child{
    float: left;
  }
  .faq__item:last-child{
    float: right;
  }
}
.faq__number{
  position: absolute;
  top: 0;
  left: 0;
  color: #BBBBBB;
  font-weight: $fontBold;
  font-size: 53px;
  line-height: 55px;
  &:before{
    position: absolute;
    left: 0;
    top: -13px;
    background: url(library/images/svg/logo-top.svg) no-repeat;
    width: 34px;
    height: 6px;
    content: ' ';
  }
}
.faq__question{
  font-style: italic;
  font-size: 16px;
  margin-bottom: 22px;
}
.faq__answer{
  font-weight: $fontMedium;
  font-size: 15px;
}

// Media query

@media screen and (max-width: $desktop) {
  .faq__item{
    width: 300px;
  }
}

@media screen and (max-width: $tablet) {
  .faq__header{
    margin-bottom: 75px;
  }
  .faq__item{
    margin-bottom: 54px;
    padding-left: 62px;
    position: relative;
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: $mobile) {
  .faq{
    padding-top: 10px;
  }
  .faq__item{
    margin-bottom: 54px;
    padding-left: 62px;
    position: relative;
    width: 100%;
    float: left;
  }
  .faq__number{
    font-size: 41px;
    top: 10px;
    &:before{
      top: -17px;
    }
  }
  .faq__answer{
    font-size: 14px;
  }
  .faq__askQuestion{
    font-size: 11px;
    padding: 4px 25px;
    top: 7px;
  }
  .faq__header{
    margin-bottom: 55px;
  }
}
