.products{
  position: relative;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.product{
  background: $jafanda;
  position: relative;
  padding-left: 50%;
}
.product__productImages{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.product__productImagesNav{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.product__productImagesShadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11px;
  background: rgba(216,216,216,.2);
  z-index: 1;
}
.product__productImagesTop,
.product__productImagesBottom{
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.product__productImagesNavItem{
  width: 84px;
  height: auto;
}
.product__productImagesNavLink{
  display: block;
  border: 2px solid transparent;
  &.is-active{
    border: 2px solid #219B9B;
  }
}
.productNav{
  position: absolute;
  top: 47px;
  right: 57px;
  z-index: 999;
}
.productNav__tabs{
  list-style: none;
  margin: 0;
}
.productNav__tabsItem{
  display: block;
  padding: 12px 40px;
  font-size: 14px;
  background: $jafandaDark;
  border-radius: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.9px;
  float: left;
  margin-left: 21px;
  color: #ffffff;
  font-weight: $fontRegular;
  cursor: pointer;
  &.is-active{
    background: #ffffff;
    color: $jafanda;
  }
}
.productDescription{
  padding: 168px 68px 155px 91px;
  position: relative;
  min-height: 850px;
}
.product__titleLine{
  width: 34px;
  height: 4px;
  background: $jafandaDark;
  margin-bottom: 5px;
}
.product__productTitle{
  font-family: $titleFont;
  font-size: 34px;
  line-height: 49px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: $fontLight;
}
.product__productDescriptionText{
  line-height: 26px;
}
.product__productDownload{
  position: absolute;
  bottom: 52px;
  left: 91px;
}

@media screen and (max-width: $desktop + 550) {
  .productDescription{
    min-height: 1016px;
  }
}

// Media query
@media screen and (max-width: $desktop) {
  .productNav{
    top: 0px;
    right: 0;
    width: 50%;
    background: $jafanda;
  }
  .productNav__tabs{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .productNav__tabsItem{
    width: 33.333333333333333%;
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
    &.is-active{
      background: $jafanda;
      color: #ffffff;
    }
  }
  .productDescription{
    padding: 95px 40px;
    padding-bottom: 50px;
    min-height: 906px;
  }
  .product__productDownload {
    left: 40px;
  }
}

@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
  .product__productImagesTop,
  .product__productImagesBottom{
    height: 250px;
    width: 50%;
    float: left;
  }
  .product__productDescription{
    max-width: 517px;
  }
}

@media screen and (max-width: $tablet) {
  .product{
    padding-left: 0;
  }
  .product__productImages{
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
  }
  .productDescription{
    padding: 65px 40px;
    min-height: 400px;
  }
  .product__productDownload {
    left: 65px;
  }
  .product__productDownload{
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
  }
  .product__productImagesShadow{
    display: none;
  }
  .productNav{
    top: -54px;
    right: auto;
    left: 0;
    width: 100%;
    background: $jafanda;
  }
  .productNav__tabs{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .productNav__tabsItem{
    width: 33.333333333333333%;
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
    &.is-active{
      background: $jafanda;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: $mobile) {
  .productDescription{
    padding: 65px 20px;
    min-height: 400px;
  }
  .product__productImagesTop,
  .product__productImagesBottom{
    height: 250px;
  }
}
