.services__titleWithBg{
  width: 439px;
  height: 572px;
  background: url(library/images/services_diagram.png) no-repeat;
  float: right;
  padding-top: 188px;
  padding-left: 51px;
  font-size: 64px;
  color: $jafanda;
  text-transform: uppercase;
  font-weight: $fontBold;
  font-family: $titleFont;
}

// Media query

@media screen and (max-width: $desktop) {
  .services__titleWithBg{
    background: none;
    width: auto;
    height: auto;
    float: none;
    padding-top: 96px;
    padding-left: 0;
  }
}

@media screen and (max-width: $tablet) {
  .services__titleWithBg{
    padding-top: 46px;
  }
}
